.hero {
    padding-top: 1em;
    min-height: 100vh;
    color: var(--white);
}

.margin-top {
    height: 8vh;
}
.hero-body {
    height: 98vh;
    display: flex;
    align-items: center;
}
.greeting {
    font-size: 3rem;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    gap:0.5em;
    width: 60%;
}

.greeting a {
    border-radius: 5%;
    border: 1px solid;
    padding:1em;
    width: fit-content;
    color: var(--hover_link);
    font-size: 1rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.greeting a:hover,.greeting a:focus{
    color: var(--white);
    box-shadow: inset 8em 0 0 0 var(--hover_link);
    border: var(--hover_link);
}

@media screen and (max-width: 768px) {
   .hero-body{
       flex-direction: column;
   }
   .greeting {
       width: 100%;
   }
   #avatar {
       max-height: 20em;
   }
}