@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;700;900&display=swap");

:root {
  --navbar: #ffffff; 
  --card_header: rgba(139, 19, 0, 1)  ;
  --hover_link: #fca311 ;
  --white:#ffffff;
  --background: #000000;
  --footer: #e5e5e5;
}


body {
    background-color:var(--background);
    font-family: 'Roboto Slab', serif;
}


/* works */
.work {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}


/* contact */

.contact {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3em;
}
.contact-wrapper {
    font-size: 2rem;
    font-weight: 500;

    width: 100%;
}
.contact-infor {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
}
.contact-infor >li {
    color: var(--navbar);
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }
    
    nav {
        padding: 0.7em 2em 0.7em;
    }
    
    .nav-panel {
        position:absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: all 0.5s ease-in-out;
        width: 100vw;
        transform: translateX(100%);
    }

    .nav-active {
        transform: translateX(0%);
    }
    
   .hero-body{
       flex-direction: column;
   }
   .greeting {
       width: 100%;
   }
   #avatar {
       max-height: 20em;
   }
   .contact-infor > li {
    width: 100%;
}
   .contact-infor {
       flex-direction: column;
       gap: 1em;
   }
}